@mixin displayflex {
    align-items: center;
    display: flex;
}

@mixin botao {
    position: relative;
    bottom: 0;
    padding: 5px 10px;
    background: $back-button;
    border: 0;
    cursor: pointer;
    color: $cor-principal;
    font-weight: bold;
    letter-spacing: 1px;
    transition: ease-in-out 0.3s;
    outline: none;
}
