
.conteudo__cachorro {
    max-width: 500px;
    height: 400px;
    text-align: center;

    blockquote {
        background: #ccc;
        display: inline-block;
        width: 100%;
        padding: 20px 10px;
        word-wrap: break-word;
        font-family: monospace;
    }

    &__data {
        color: $cor-principal;
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        font-family: $fonte-principal;
    }

    &__imagem {
        max-width: 100%;
        position: relative;
        z-index: 1;
        box-shadow: 0 0 0 6px rgba(7, 5, 5, 0.863);
        border: 10px solid transparent;
        width: 500px;
        height: 300px; 
    }

    &__titulo {
        display: block;
        z-index: 2;
        position: relative;
        bottom: 40px;
        left: 10px;
        max-width: 230px;
        word-wrap: break-word;
        font-size: 16px;
        font-weight: 500;
        font-family: $fonte-principal;
        color: #ffffff;
        background: #000;
        padding: 4px 0px;
        text-transform: lowercase;
    }
}
