.conteudo {
    max-width: 800px;
    @include displayflex;
    justify-content: space-between;
    margin: 0 auto;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        padding: 15px;
        height: 430px;
    }

    &__titulo {
        font-family: $fonte-principal;
        font-size: 4rem;
        color: $cor-principal;
    }
}
