.footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    
    > p {
        text-align: center;
        text-transform: lowercase;
        background: $rgba;
        padding: 5px 0;
        color: $cor-principal;
    }
}
