// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

$cor-principal: #E7E4D8;
$cor-font-light: wheat;

$back-button: #ad6262;
$back-button-hover: #d19595;
$back-header: black;
$back-body: #1B1D20;

$rgba: rgba(0, 0, 0, 0.6);
